pkgbase = linux-lilium
	pkgdesc = Linux Kernel - Current Stable (CURRENT) with Custom Patches
	pkgver = 6.15.1
	pkgrel = 2
	url = http://www.xanmod.org/
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = kmod
	makedepends = libelf
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = clang
	makedepends = llvm
	makedepends = python
	options = !strip
	options = !buildflags
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.15.1.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.15.1.tar.sign
	source = choose-gcc-optimization.sh
	source = config
	source = https://www.kernel.org/pub/linux/kernel/projects/rt/6.15/patch-6.15-rt2.patch.xz
	source = https://www.kernel.org/pub/linux/kernel/projects/rt/6.15/patch-6.15-rt2.patch.sign
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/bore-smt-cores-patches/0001-bore-smt-cores-patches.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/binder/0001-binder-turn-into-module.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/binder/0002-binder-give-binder_alloc-its-own-debug-mask-file.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/binder/0003-wait-allow-to-use-__wake_up_pollfree-from-GPL-module.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/binder/0004-file-export-file_close_fd-instead-of-close_fd_get_fi.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/binder/0005-binder-turn-into-module-list_lru_add-list_lru_del.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/binder/0006-binder-turn-into-module-lock_vma_under_rcu.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/clearlinux/0001-sched-wait-Do-accept-in-LIFO-order-for-cache-efficie.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/clearlinux/0002-firmware-Enable-stateless-firmware-loading.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/clearlinux/0003-locking-rwsem-spin-faster.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/clearlinux/0004-drivers-initialize-ata-before-graphics.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/net/netfilter/0001-netfilter-Add-netfilter-nf_tables-fullcone-support.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/net/netfilter/0002-netfilter-add-xt_FLOWOFFLOAD-target.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/net/tcp/cloudflare/0001-tcp-Add-a-sysctl-to-skip-tcp-collapse-processing-whe.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/pci_acso/0001-PCI-Enable-overrides-for-missing-ACS-capabilities.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/userns/0001-sysctl-add-sysctl-to-disallow-unprivileged-CLONE_NEW.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/zen/0001-ZEN-input-evdev-Use-call_rcu-when-detaching-client.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/zen/0002-ZEN-dm-crypt-Disable-workqueues-for-crypto-ops.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/xanmod/0001-XANMOD-x86-build-Add-more-CFLAGS-optimizations.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/xanmod/0002-XANMOD-kbuild-Add-GCC-SMS-based-modulo-scheduling-fl.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/xanmod/0007-XANMOD-block-mq-deadline-Increase-write-priority-to-.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/xanmod/0008-XANMOD-block-mq-deadline-Disable-front_merges-by-def.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/xanmod/0009-XANMOD-block-Set-rq_affinity-to-force-complete-I-O-r.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/xanmod/0010-XANMOD-blk-wbt-Set-wbt_default_latency_nsec-to-2msec.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/xanmod/0012-XANMOD-dcache-cache_pressure-50-decreases-the-rate-a.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/xanmod/0013-XANMOD-mm-Raise-max_map_count-default-value.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/xanmod/0014-XANMOD-mm-vmscan-Reduce-amount-of-swapping.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/xanmod/0015-XANMOD-sched-autogroup-Add-kernel-parameter-and-conf.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/xanmod/0016-XANMOD-cpufreq-tunes-ondemand-and-conservative-gover.patch
	source = https://gitlab.com/xanmod/linux-patches/-/raw/master/linux-6.15.y-xanmod/xanmod/0017-XANMOD-lib-kconfig.debug-disable-default-SYMBOLIC_ER.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/bbr3-patches/0001-tcp-bbr3-initial-import.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/openvpn-dco-patches-v4-all/0001-openvpn-dco-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/futex-patches/0001-futex-6.15-Add-entry-point-for-FUTEX_WAIT_MULTIPLE-o.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/async-patches/0001-async-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/parallel-swapper-patches/0001-linux6.15.0-parallel-swapper-v0.2.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/zram-patches/0001-linux6.15.y-zram-ir-1.2.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/cachyos-fixes-patches-v4/0001-cachyos-fixes-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/cpu-cachyos-patches-all/0001-cpu-cachyos-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/cpuidle-patches/0001-cpuidle-Prefer-teo-over-menu-governor.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/kbuild-cachyos-patches/0001-Cachy-Allow-O3.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/v4l2loopback-patches/0001-media-v4l2-core-add-v4l2loopback-driver.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/mm-zblock-patches/0001-mm-add-zblock-allocator.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/mm-kcompressd-patches/0001-mm-Add-Kcompressd-for-accelerated-memory-compression.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/amd-pstate-patches-all/0001-amd-pstate-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/adios-iosched-default-on-patches/0001-iosched-6.15-introduce-ADIOS-I-O-scheduler.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.15/block-patches-all/0001-block-patches.patch
	source = https://raw.githubusercontent.com/CachyOS/kernel-patches/master/6.15/misc/0001-acpi-call.patch
	source = https://raw.githubusercontent.com/Frogging-Family/linux-tkg/master/linux-tkg-patches/6.15/0012-misc-additions.patch
	sha256sums = 44f1bb84fe512e7bafe0e6dc85d38ec1c6c8fcbe97ccb51d8c19930b799f0d64
	sha256sums = SKIP
	sha256sums = 1ac18cad2578df4a70f9346f7c6fccbb62f042a0ee0594817fdef9f2704904ee
	sha256sums = 35e90d951859c24b3fd0e88b70241d5556d721d963aaa231587d5eb3723aa377
	sha256sums = a20f23a441d0bcf5e72f376f612b9656d90e0cf5c83c930e3bc07df0aa664ef3
	sha256sums = SKIP
	sha256sums = 50be48ccd39cbe036872a374d92200be14471eec8f8458f40bb69b67310ee78c
	sha256sums = 68820016c14900d4a687b12b6350b51697d1b849dd4af3202d70994c50a5c28e
	sha256sums = b843f3f58237e04e3ee83cd91ea876335dbb4b0934521a8ae67d2ff1c5cb1b46
	sha256sums = 86edea0777048c49d6fc6f60e94afaf825171e98512047191e1271654f0a9d83
	sha256sums = 1a46a49a40dc2e21f80f47ec6d9d59a8534e64b03d47774abf81e4e02780c97c
	sha256sums = 7275cf3aae79aaa553c275d87ea6cd5ee76d235dfe05ffbe44d3a4c8e72cc167
	sha256sums = 8c3d3aa9940ca9dceb759a667a16ceae9b051ca92a3e7dec4974a2504729a084
	sha256sums = bf24341a575f2b6da61dd76df659ce34b7350ebe0bdc85260874320f07a8e1a8
	sha256sums = b13356ca36b826c089fcd65dad990e8fd16767168338228db3aa6ae784f88f12
	sha256sums = 49dc9e462f60418e4f6de9510ca49899238cd073c999e6575d5ea337915577dd
	sha256sums = 5994a9d2b10183d189c4450401ac16bfe9438d41161024b3d4be5ae8ca631ae7
	sha256sums = 182c589f4d30bd943c052beb1eb85e0496fb8d9a52232d920c4ba4660d566157
	sha256sums = cd3e3aac8370bfdbbbd565e1e77204aff76f7265f2ec8cc7035fd59d5014d6b8
	sha256sums = 5a6e083d0ab75c56ab4fec5365e7731c9001b16ac2e883a448368c950c0c6185
	sha256sums = 97035ba2e14611c7df2d224c316e1f00b6b4fecec04713512f08d5a4c6829639
	sha256sums = e085120b1bfeb66693f666709a46e67a4a0ec75d6ec121e41c512737c618ad13
	sha256sums = 27f27ae19b75839537f64ea73f3411856e859abfda255e66d3965000760e7df8
	sha256sums = cc64148b8e701b102fbd93886bea8cb847bbaef1a5bc68a92babbbdad0719eb7
	sha256sums = 0562286053fdd083839fdaf946fbffad81dabd5b23546543fad52b66fe6474b3
	sha256sums = a257c05ff9bfc02e6bf04f20f8291017526c2f53f427fe48fb326c4f77dc5c27
	sha256sums = ed79311b63d7e9958d6f7220cc52051696591a12946d0433703b25d19d6664f5
	sha256sums = d3569cba1c77e6b8dd829142e3cd4e119bacb2aadb60d0258f8305ea6c9c0417
	sha256sums = 1633dbd19c9956951512e88669bf893da8640ec0d7850018b070d1ce477e52db
	sha256sums = be87224028fbf615373b468037d06217e86aaace43fc472df366b2794f1a36b6
	sha256sums = 0215b22e224dd6e1238534c437c7489009065562b00222f559de5a03fbd49a02
	sha256sums = cde81b2bdd7bb3fb501f87b27db089a761157c6f66c60de4de7c791a086faae4
	sha256sums = 3b4af63d6d764b525a95e92fe62f519521adc7dd73e98d82f82443a80fe8f7a7
	sha256sums = 49a10f0863553190e1d06dcc63fccea7adf78547cefa32cd4d86a78549255669
	sha256sums = ecc842514d4e8e58eb2dc46686134629771565cec511d3a532cf1a6ecc7baf3b
	sha256sums = 4b608d7de68073b27c05dce2c90e22e15367754686b54701c1da3cab7a9a5fb8
	sha256sums = cc754e9cd4fc4e94991017544047788de896581d62d5e6833d261bcbc7b4d579
	sha256sums = 22ae498ff7b7a9d2b5ead571defbf06115d7c03d36ceece3d43a0f55d4343be5
	sha256sums = 234b6e57ff59429b2fb675fc05dd433fc891cd94a822784f837f8ba224c0fb72
	sha256sums = a987a6eb83b9d4b31ff3cecf915fe3795a990650e1b4678f54dc9195be198d66
	sha256sums = acb97a71772deaa2a772dfba5b276a7f2c8d3094b789bb89de2f9f385ecf5985
	sha256sums = 460be6cbfcc8002994167111c801da61737d41d0df126416850a2fd9f2d1e0b9
	sha256sums = b34788a17525a231192013a94b328d4fcbc1a8caac8b1ed7dc9a564d3da44078
	sha256sums = 475235e0c9a4cbf910b08503cb1e8e8811f342e7eb90fa60732c05fe745393c8
	sha256sums = b981ab63625782f4522a505c8eb7705aeeba9666de80d5ab5120ffd668664d40
	sha256sums = 8ad361ce6c08c4d817960194638861b4c21894293b9e19cef38f19cb9e1a252c
	sha256sums = 4c3c9e6ac8f6430f1ea9b8aa7d46207107475d9f66fb077d317dc944c420de16
	sha256sums = aec4e96d83705bba3fbd6bc839cc572fcea689f94365e9e877c4f7df063c131d
	sha256sums = 61c38053c1db179cd37c88ad6c2d016c3b96a6f9d005c2eba052fea543075792
	sha256sums = fb4c8935a443ddcd5cfdaac542b243c58c9e3aeb033ac3565a3b400c64c0f666
	sha256sums = 99549e27115b12b9cdd33062af8a5e9071e438e04a0c64551f49231a260dad32
	sha256sums = 5d0e71ac2ffd9c20b77efceafb03bb1ac7ce1579bc2a4c40ec64ffd09d6a0144
	sha256sums = dcba9dc87fa263709c792ef869ca7b54a475f4f09380dadf284c2fadae1a2ca9
	sha256sums = e9785cf826aa347c2f6f365791775bffd931f49c8d0fb2273fb687e87fcaa8da

pkgname = linux-lilium
	pkgdesc = The Linux kernel and modules with Xanmod patches
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = NTFS3-MODULE
	provides = V4L2LOOPBACK-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-lilium-headers
	pkgdesc = Headers and scripts for building modules for the Linux Kernel - Current Stable (CURRENT) with Custom Patches kernel
	depends = pahole
