pkgbase = linux-lilium
	pkgdesc = Linux Kernel - Current Stable (CURRENT) with Custom Patches
	pkgver = 7.1.1
	pkgrel = 1
	url = http://www.xanmod.org/
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = kmod
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	makedepends = clang
	makedepends = llvm
	makedepends = python
	options = !strip
	options = !buildflags
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/linux-7.1.1.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/linux-7.1.1.tar.sign
	source = choose-gcc-optimization.sh
	source = config
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/mglru-patches-all/0001-mglru-patches.patch
	source = https://www.kernel.org/pub/linux/kernel/projects/rt/7.1/patch-7.1.1-rt2.patch.gz
	source = https://github.com/firelzrd/bore-scheduler/raw/refs/heads/main/patches/stable/linux-7.1-bore/0001-linux7.1-rc1-bore-6.6.3.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/lru-marie-patches-v7/0001-mm-7.1-introduce-LRU-MARIE.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/poc-selector-patches/0001-sched-7.1-introduce-POC-selector.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/cachyos-fixes-patches-v5/0001-cachyos-fixes-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/bbr3-cachyos-patches-v2/0001-bbr3-cachyos-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/cgroup-patches/0001-cgroup-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/mmap-lock-patches/0001-mmap-lock-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/cpu-cachyos-patches/0001-CACHY-Add-x86_64-ISA-and-Zen4-compiler-optimizations.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/cpuidle-patches/0001-cpuidle-Prefer-teo-over-menu-governor.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/kbuild-cachyos-patches/0001-Cachy-Allow-O3.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/v4l2loopback-patches/0001-media-v4l2-core-add-v4l2loopback-driver.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/adios-iosched-default-on-patches/0001-iosched-7.1-introduce-ADIOS-I-O-scheduler.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/block-patches-all/0001-block-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/vmscape-patches/0001-vmscape-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/hdmi-patches-v2/0001-hdmi-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/vesa-patches/0001-vesa-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/amd-isp-patches/0001-amd-7.1-merge-changes-from-dev-tree.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/nap-patches/0001-7.1-nap-v0.5.0.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/drm-fair-patches/0001-drm-fair-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/preempt-ipi-patches-v3/0001-preempt-ipi-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/vmalloc-free-patches-v2/0001-vmalloc-freee-patches.patch
	source = https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/7.1/clang-patches/0001-clang-patches.patch
	source = https://raw.githubusercontent.com/Frogging-Family/linux-tkg/master/linux-tkg-patches/7.1/0012-misc-additions.patch
	sha256sums = 5215fa3541dc7e7f5bcd51bf7e57f169cec6fce508ca54e3dc85fdee14371d7d
	sha256sums = SKIP
	sha256sums = 1ac18cad2578df4a70f9346f7c6fccbb62f042a0ee0594817fdef9f2704904ee
	sha256sums = cfa3d47615703a10c2d59940a62114eeccc50d3a0b4c7edf6385d3f94d691232
	sha256sums = 36cb507b6235160f7d03cbe54360c81e9742500c1e1f4f85f30009741d6abe2c
	sha256sums = 94a1fa80285bfd543758820201b1290f0960ac8a3b0cf72f9709f1bb7139ca2b
	sha256sums = b68cc950a34f320adb3735804ea8d1512f193ed4cc7ab6604c053cdf0d71da44
	sha256sums = 0f245e1492bdf6bd9481e3b5111220af8a4522790751959767596478f1cd733b
	sha256sums = d254d791473b75bf83b072cdde00b565fd6d13d7e61e21a46672aef11c6f8c8f
	sha256sums = fb46fb6b328f70ccaf924b0acac426c5bdf6c928761c239ee45f0e399920950c
	sha256sums = 27dd2d51e17017febc74745fe4b570fce79464c7849ead96914c1a7e15411b95
	sha256sums = e5261894bf3b1534be6f4862473338b738d0010a56fc4d0e69d58615d0835a86
	sha256sums = 725ecf6923e2cc1e9299b5d97335c8487f3000a9afd4b74be62b4bff422ee1ce
	sha256sums = 12ce2027416959c0f48a3e3ced5417e4eec21040da036117959a48e125080265
	sha256sums = 87af758b9afa7df927bec95df32d4ac572a01afcbe614ca2483cb144a1be69c3
	sha256sums = 17b3a8591a1c21ed6527286adb904d5d1681242f5475961d7b0a93752dba6949
	sha256sums = af70cc5c69bc891e45a548e18623e182173180916a9c6faa8f2239522023be80
	sha256sums = 6c3569ac268e3481e494af3e7f11165e67904785cf9a58d12618bd6eb3466e65
	sha256sums = 1e3ad8b0bbc817c6e83d3acf848023fdc26f0e22299785b55c994c52583c1010
	sha256sums = 2ebf4b98d16a99e0e67fd9f770c8c4b41c90f82428d741a1bf78946146d1bb85
	sha256sums = 28b225b18a67e818c43b0a646e57aff4b5dc7c77e483cca7ffe4f3563edc3931
	sha256sums = 579515daad10a8ef7f4db1d9e66494339394a7d09a471616b8e0220e55fdf477
	sha256sums = a731f6648770fd40dc54a8a7f2934eee284b6e1dd733c4f65ea220d1ce441688
	sha256sums = f9f15da2804621ae3b42878464eb5210d69c5e6833e43edd4470d1974ac6e0bc
	sha256sums = 23496c6b58b594133ab6a808b1e6c83a304224ffcc71d47e55d703e628e1b84e
	sha256sums = d9a5ecbe9857f428df76a708803e94c7c9881b677e77675a40c3a9edc9f37675
	sha256sums = b9e51c8e33dbb3adfcab09ac8610211c6889a0992b7afc808780253fd8c6b24e
	sha256sums = 9906057085fb00260032b2ea937d7e478c20849e92d2f8b8a8b03c61e37df90d
	sha256sums = 5dbc9a845b54eb5d81c4d2d4d9d35156a8df0be4813db515c286d9f5893a765e

pkgname = linux-lilium
	pkgdesc = The Linux kernel and modules with Xanmod patches
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = NTFS3-MODULE
	provides = V4L2LOOPBACK-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-lilium-headers
	pkgdesc = Headers and scripts for building modules for the Linux Kernel - Current Stable (CURRENT) with Custom Patches kernel
	depends = pahole
