name: Builder AUR
on:
  schedule:
    - cron: "0 0 */5 * *"
  workflow_dispatch:


jobs:
  AUR_CLANG:
    strategy:
      matrix:
        build: [
          postman-bin, spotify-edge, paru, jamesdsp, swww, eww, pfetch, bibata-cursor-theme, wl-screenrec, 
          wf-config, matugen-bin, asusctl, grimblast-git, hyprshade, waypaper, wallust-git, app2unit-git, wl-screenrec-git,
          cava, sourcegit, windsurf, windsurf-next, swaylock-effects-git, wlr-randr-git, hyprprop-git, grimblast-git,
          flameshot-git, quickshell-git, google-breakpad-git, google-breakpad,
          python-materialyoucolor, python-materialyoucolor-git, material-symbols-git
          ]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Build packages for arch
        uses: actions/checkout@v3.5.3
        with:
          repository: sarcasticadmin/empty-repo
      - id: makepkg
        uses: JPratama7/pkgbuild-action@original
        with:
          pkgdir: ${{ matrix.build }}
          makepkgArgs: "--skippgpcheck"
          clanged: "y"
          clangedPFlags: "y"
          officialRepo: "y"
          aurHelper: "yay"
          buildAurHelper: "y"
          chaoticAur: "y"
          ldflags: "-Wl,-z,nostart-stop-gc"
          rustcflags: "-C link-arg=-Wl,-z,nostart-stop-gc"
      - name: Upload Artifact
        uses: ncipollo/release-action@v1.14.0
        with:
          allowUpdates: true
          tag: "temp"
          artifacts: "./*/*.zst"
          token: ${{ secrets.GITHUB_TOKEN }}

  AUR_GCC:
    strategy:
      matrix:
        build: [
          visual-studio-code-bin, visual-studio-code-insiders-bin, jdk21-graalvm-ee-bin,
          appimagelauncher, podman-desktop, jdk23-graalvm-ee-bin, zed-git, yay
          ]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Build packages for arch
        uses: actions/checkout@v3.5.3
        with:
          repository: sarcasticadmin/empty-repo
      - id: makepkg
        uses: JPratama7/pkgbuild-action@original
        with:
          maxJobs: "99"
          gccPflags: "y"
          chaoticAur: "y"
          pkgdir: ${{ matrix.build }}
          makepkgArgs: "--skippgpcheck"
      - uses: ncipollo/release-action@v1.14.0
        with:
          allowUpdates: true
          replacesArtifacts: true
          tag: "temp"
          artifacts: "*/*.zst"
          token: ${{ secrets.GITHUB_TOKEN }}

  TRIGGER_PUBLISH:
    if: ${{ always() }}
    needs: [AUR_CLANG, AUR_GCC]
    runs-on: ubuntu-latest
    steps:
      - name: Invoke workflow without inputs
        uses: benc-uk/workflow-dispatch@v1.2.2
        with:
          workflow: Create DB
